# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode settings (ignore if personal)
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-symlinks/
.package-config
.pub-cache/
.pub/
build/
.android/
ios/Flutter/.last_build_id

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build outputs
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/

# Flutter doc/api folder
doc/api/
